@import '../../Variable.scss';

.main_footer {

    background: rgb(27, 17, 17);
    color: $bg-light-Mode-color;



    .footer {
        height: 40vh;
        display: flex;
        justify-content: center;
        padding: 3rem;
        align-items: center;

        @media screen and (max-width:768px) {
            flex-direction: row;
            padding: 1rem;

        }

        .footer__first {
            position: relative;
            margin: 0px 2rem;
            width: 30%;

            @media screen and (max-width:768px) {
                margin: 0px 1rem;
                width: 50%;


            }

            img {
                position: absolute;
                width: 50px;
                object-fit: cover;
                border-radius: 999px;
            }

            h4 {
                margin-left: 4rem;
            }
            @media screen and (max-width:768px) {
                p{
                    font-size: 0.70rem;
                }

            }
        }
        .footer__middle{
            font-size: 1rem;

            @media screen and (max-width:768px) {
               
                    font-size: 0.70rem;
              

            }
        }
    }

    .footer__copy__right {
        text-align: center;
        font-size: 1.50rem;
        padding: 2rem 0;

    }
}