@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

$bg-light-Mode-color:rgb(255, 255, 255);
$color-light-Mode:#1A0004;

$color-dark-mode:#fff;
$bg-dark-mode-color:#090d1d;

// buttonbgcollor
$button_bg_color:#0095B3;
$button_hover_color:#0048BA;

// menuHover
$menu__hover_color :aqua;

$font_oswad:'Oswald', sans-serif;